/* CSS Document */
.social{display: inline-block; list-style: none;}
.social li{display: inline-block; margin-right: 5px; font-size: 35px; }
.social li a:hover{color:#28A745;}
#mapa {width: 100% ;}
.w50{width: 50%;}
.fleft{float: left;}
.fright{float: right;}
#contact {display: block;}
#formulario {display: block;}
.clear{clear: both;}
.margem{margin-left: 20px;}
input[type= 'text']{
	margin-left: 50px; padding-left:20px; padding-right: 15px;
}

input[type= "phone"]{
	margin-left:50px; padding-left:20px; padding-right: 15px;
}
#msg{padding: 35px; margin-left: 7px;}